@font-face {
  font-family: "Gotham";
  src: local("/fonts/GothamBold/gothambold1.woff") format("woff"), local("/fonts/GothamBook/GothamBook.woff") format("woff");
}

html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 53px;
}

.header__logo {
  width: 240px;
  margin-right: 73px;
}

.nav__menu {
  width: 596px;
  margin-right: 100px;
}

.nav__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__menu-item {
  list-style: none;
  position: relative;
}

.nav__menu-link {
  text-decoration: none;
  font-family: "Gotham", sans-serif, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

.nav__menu-link::before {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 3px;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: transparent;
}

.nav__menu-link:hover::before {
  background-color: #fff;
}

.header__social {
  width: 162px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
}

.header__social a .fab {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  font-size: 14px;
  color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__social a .fab:hover {
  background-color: #fff;
  color: #7e5aff;
}

.main {
  position: relative;
  height: 800px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__screen {
  height: 100%;
  background: url(/img/main-bg-1.jpg) center center/cover no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 70px;
}

.main__title {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gotham", sans-serif, sans-serif;
  font-size: 80px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 30px;
  margin-bottom: 50px;
}

.main__subtitle {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gotham", sans-serif, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5.5px;
}

.scroll-btn {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  font-size: 10px;
  color: #fff;
  background-color: transparent;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  cursor: pointer;
}

.scroll-btn:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #55b7ff;
  border-radius: none;
}

.projects {
  max-height: 1630px;
  background-color: #fff;
  padding: 132px 50px 140px 50px;
  position: relative;
}

.projects__title {
  font-family: "Gotham", sans-serif, sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #2c4058;
  font-size: 44px;
  margin-bottom: 160px;
}

.projects__title::before {
  content: "";
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  text-align: center;
  width: 100px;
  height: 1px;
  background-color: #2c4058;
}

.project_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.project__img-1 {
  margin-right: 70px;
  position: relative;
  z-index: 99;
}

.project__img-1::after {
  content: "";
  display: block;
  width: 585px;
  height: 470px;
  background-color: #55b7ff;
  position: absolute;
  top: -70px;
  left: -215px;
  z-index: -1;
}

.project_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 206px;
}

.project__img-2 {
  margin-left: 70px;
  position: relative;
  z-index: 99;
}

.project__img-2::after {
  content: "";
  display: block;
  width: 585px;
  height: 470px;
  background-color: #7e5aff;
  position: absolute;
  top: -70px;
  left: 260px;
  z-index: -1;
}

.project__info {
  margin-top: 55px;
}

.project__title {
  font-family: "Gotham", sans-serif, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #2c4058;
  font-size: 44px;
  margin-bottom: 26px;
}

.project__title span {
  display: block;
  font-family: "Gotham", sans-serif, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #2c4058;
  font-size: 22px;
}

.project__descr {
  max-width: 470px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
}

.project__btn {
  width: 190px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #2c4058;
  font-family: "Gotham", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #2c4058;
  font-size: 14px;
  margin-bottom: 52px;
  cursor: pointer;
}

.project__btn:hover {
  background-color: #2c4058;
  color: #fff;
}

.project__adress {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.news {
  min-height: 1035px;
  background: url(/img/news-bg.jpg) center center/cover no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 170px 50px;
  position: relative;
}

.news__title {
  font-family: "Gotham", sans-serif, sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 44px;
  margin-bottom: 90px;
}

.news__title::before {
  content: "";
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 137px;
  right: 0;
  left: 0;
  text-align: center;
  width: 100px;
  height: 1px;
  background-color: #fff;
}

.news__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-card {
  width: 370px;
  height: 514px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.slider-img {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-info {
  background-color: #fff;
  padding: 22px 20px;
}

.slider-title {
  font-family: "Gotham", sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  color: #2c4058;
  line-height: 33px;
  margin-bottom: 5px;
}

.slider-descr {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
}

.slider-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider-author-img {
  margin-right: 20px;
}

.slider-author-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-author-name {
  display: block;
  font-family: "Gotham", sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  color: #2c4058;
  margin-top: 5px;
  margin-bottom: 8px;
}

.slider-author-date {
  display: block;
  font-family: "Gotham", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #55b7ff;
}

.gallery {
  min-height: 1000px;
  background-color: #fff;
}

.main__footer {
  min-height: 524px;
  background: url(/img/footer-bg.jpg) center center/cover no-repeat;
}

/* Set the size of the div element that contains the map */
#map {
  height: 700px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
/*# sourceMappingURL=style.css.map */