@font-face {
    font-family: "Gotham";
    src: local("/fonts/GothamBold/gothambold1.woff") format("woff"),
        local("/fonts/GothamBook/GothamBook.woff") format("woff");
   }

@font-face {
    font-family: "Open Sans";
    src: local("/fonts/Open_Sans/OpenSans-Regular") format("ttf"),
        local("/fonts/Open_Sans/OpenSans-Italic") format("ttf");
   }

   

$primary-color: #55b7ff;
$secondary-color :#7e5aff;
$text-color: #2c4058;
$fontGotham: 'Gotham', sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
          
}
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    border: 1px solid red;
    margin: 0 auto;
}
