.contact {
    position: relative;
}

.form__box {
    width: 770px;
    height: 450px;
    box-sizing: border-box;
    display: block;
    background: url(../img/contact-bg.webp) no-repeat;
    position: absolute;
    z-index: 3;
    padding: 78px 15px;
    top: -300px;
    left: 30%;
}

.form__wrapper {
    
    display: flex;
}


.contact__list {
    margin-right: 56px;
}
.contact__item {
    font-family: $fontGotham;
    font-weight: 300;
    font-size: 18px;
    color: $text-color;
    list-style: none;
    margin-bottom: 38px;
}

.form__info {
    display: flex;
    flex-direction: column;
}

.form__title {
    font-family: $fontGotham, sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: $text-color;
    font-size: 44px;
    letter-spacing: 0.7px;
    margin-bottom: 30px;
    &::before {
        content: "";
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 56px;
        right: 0;
        left: 0;
        text-align: center;
        width: 100px;
        height: 1px;
        background-color: $text-color;
    }
}

.form__input {
    width: 310px;
    height: 55px;
    border: 0;
    border-bottom: 1px solid #4b5562;
    margin-top: 5px;
    font-family: $fontGotham;
    font-size: 18px;
    color: #4b5562;
    outline: none;
}

.form__btn {
    width: 140px;
    height: 50px;
    border: 1px solid $text-color;
    font-family: $fontGotham;
    font-weight: 300;
    font-size: 14px;
    color: $text-color;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    background-color: transparent; 
    cursor: pointer;
    margin-top: 36px;
    margin-left: 170px;
    &:hover {
        background-color: $text-color;
        color: #fff;
    }
}

.fa-map-marker-alt,
.fa-phone-alt, 
.fa-inbox, 
.fa-clock {
    color: $secondary-color;
}