.main {
    min-height: 800px;
    background: url(/img/main-bg.jpg) center center/cover no-repeat; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 70px;
}

.main__title {
    display: block;
    box-sizing: border-box;
    font-family: $fontGotham, sans-serif;
    font-size: 80px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 55px;
    margin-bottom: 40px;
    
}
.main__subtitle {
    display: block;
    box-sizing: border-box;
    font-family: $fontGotham, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5.5px;
}