.projects {
    max-height: 1630px;
    background-color: #fff;
    padding: 132px 50px 140px 50px;
    position: relative;
}

.projects__title {
    font-family: $fontGotham, sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: $text-color;
    font-size: 44px;
    margin-bottom: 160px;
    &::before {
        content: "";
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 100px;
        right: 0;
        left: 0;
        text-align: center;
        width: 100px;
        height: 1px;
        background-color: $text-color;
    }
}
.project_1 {
    display: flex;
    align-items: flex-start;  
}

.project__img-1 {
    margin-right: 70px;
    position: relative;
    z-index: 99;
    &::after {
        content: "";
        display: block;
        width: 585px;
        height: 470px;
        background-color: $primary-color;
        position: absolute;
        top: -70px;
        left: -215px;
        z-index: -1;
    }
}

.project_2 {
    display: flex;
    align-items: flex-start;  
    margin-top: 206px;
}

.project__img-2 {
    margin-left: 70px;
    position: relative;
    z-index: 99;
    &::after {
        content: "";
        display: block;
        width: 585px;
        height: 470px;
        background-color: $secondary-color;
        position: absolute;
        top: -70px;
        left: 260px;
        z-index: -1;
    }
}

.project__info {
    margin-top: 55px;
}

.project__title {
    font-family: $fontGotham, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: $text-color;
    font-size: 44px;
    margin-bottom: 26px;
}

.project__title span {
    display: block;
    font-family: $fontGotham, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: $text-color;
    font-size: 22px;
}
.project__descr {
    max-width: 470px;
    font-family: $fontOpenSans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;

}
.project__btn {
    width: 190px;
    height: 50px;
    background-color: #fff;
    border: 1px solid $text-color;
    font-family: $fontGotham;
    font-weight: 300;
    text-transform: uppercase;
    color: $text-color;
    font-size: 14px;
    margin-bottom: 52px;
    cursor: pointer;
    &:hover {
        background-color: $text-color;
        color: #fff;
    }

}
.project__adress {
    display: block;
    font-family: $fontOpenSans;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: $text-color;
    &:hover {
        color: $primary-color;
    }
}